header{
	background-color:#2554c7;
	color:rgb(255,255,255);
	font-family:Georgia !important,Ariel,courier;
	text-align:center;
	padding:0.5% 0;
	font-size:140%;
}

section{
	background-color:rgb(240,240,240);
	font-family:Georgia !important;
}

h1{
	font-size:170%;
}

h2{
	font-size:150%;
	color:#58a0c3;
}

p{
	font-size:170%;
}

ul a:hover{
	background-color:rgb(0,0,255);
	border-radius: 25px;
	line-height: 20px;
	height:8vh;
}


nav h1{
	font-variant:small-caps;
	font-size:200%;
}

.knowmore{
	font-size:70%;
}

footer{
	color:rgb(255,255,255);
	background-color:#368bc1;
	opacity:100%;
	font-family:Georgia !important,Ariel,courier;
	text-align:center;
	padding:2%;
	font-size:80%;
}

footer p{
	font-variant:small-caps;
	display:block;
	color:rgb(255,255,255);
	font-size:110%;
}

footer a{
	font-variant:small-caps;
	display:inline-block;
	color:rgb(255,255,255);
}

.firstdiv{
	background-color:rgba(0,0,0,.7);
	background-image: url("../images/body.jpg");
	background-size:100% 100%;
	background-repeat:no-repeat;
	text-align:center;
	padding:5%;
	font-variant:small-caps;
	height:70vh;
}

.firstdiv a{
	color:rgb(255,255,255);
	background-color:rgba(0,0,255,.7);
	border:0.5%;
	margin:0.5%;
	padding:1%;
	border-radius:10px;
	font-family:Georgia !important,Ariel,courier;
	font-size:100%;
	transition-property: border,margin,padding;
	transition-duration:.2s;
	transition-timing-function: linear;
	transition-delay: .1s;
}

.firstdiv a:hover{
	border:0.5%;
	margin:0.5%;
	padding:1.5%;
}

.seconddiv{
	background-color:#659ec7;
	color:rgb(255,255,255);
	padding:5%;
	text-align:center;
}

.leader{
		font-size:110%;
}

.thirddiv{
	text-align:center;
	padding:2%;
	margin-left:0.2%;
	margin-right:0.2%;
	background-color:rgb(255,255,255);
	-webkit-box-shadow: 3px 3px 3px 3px #ccc;
	-moz-box-shadow: 3px 3px 3px 3px #ccc;
	box-shadow: 3px 3px 3px 3px #ccc;
}

.one{
	background-color:#b4cfec;
	display:inline-block;
	padding:1%;
	margin:1%;
	border-radius:10px;
	font-size:90%;
	font-variant:small-caps;
	-webkit-box-shadow: 3px 3px 5px 6px #aaa;
	-moz-box-shadow: 3px 3px 5px 6px #aaa;
	box-shadow: 3px 3px 5px 6px #aaa;
}

.fourthdiv{
	text-align:center;
	padding:1%;
	background-color:rgba(255,255,255,.2);
}

.fifthdiv{
	text-align:center;
	padding:7%;
	background-color:rgba(255,255,255);
	-webkit-box-shadow: 3px 3px 5px 6px #aaa;
	-moz-box-shadow: 3px 3px 5px 6px #aaa;
	box-shadow: 3px 3px 5px 6px #aaa;
}

.sixthdiv{
	text-align:center;
	font-size:120%;
}

.seventhdiv{
	padding:2%;
	margin-left:0.2%;
	margin-right:0.2%;
	background-color:rgba(255,255,255);
	-webkit-box-shadow: 3px 3px 5px 6px #aaa;
	-moz-box-shadow: 3px 3px 5px 6px #aaa;
	box-shadow: 3px 3px 5px 6px #aaa;
}

.seventhdiv img{
	width:60%;
}

.columnMain{
	padding:10px;
	margin-left:0.2%;
	margin-right:0.2%;
	background-color:rgb(255,255,255);
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	-moz-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow: 3px 3px 5px 6px #ccc;
}


.column img{
	width:40%;
	border-radius:50%;
}

iframe{
	text-align:center;
}

a{
	color:rgb(0,0,255);
	font-variant:small-caps;
}

footer a{
	color:rgb(255,255,255);
}

body{
	background-color:#ffffff;
}

.Campus{
	 color:#58a0c3;
	 text-align:center;
	 padding:3%;
	 -webkit-box-shadow: 0px 3px 5px 6px #ccc;
	-moz-box-shadow: 0px 3px 5px 6px #ccc;
	box-shadow: 0px 3px 5px 6px #ccc;
}

.lastdiv{
	background-color:rgba(255,255,255);
	padding-top:2%;
}

.lastdiv h2{
	text-decoration:underline;
	color:blue;
	font-variant:small-caps;
	text-align:center;
	margin-top:1%;
}

.lastdiv p{
	text-align:center;
	font-size:100%;
	padding:2%;
}

button{
	border-radius:10px;
}

hr{
	width:0%;
}

.Share{
	float:left;
}

.Follow{
	float:right;
}

div h2{
	font-size:110%;
}

.contactus a:hover{
	color:#dbe9f4;
}

.bio{
	font-size:110%;
}

p{
	font-size:100%;
}

@media screen and (min-width:780px){
	.column img{
		width:30%;
	}
	
	p{
		font-size:120%;
	}
	
	ul a{
		margin-top:2%;
		font-size:90%;
		margin:0.2%;
		text-align:center;
	}
	
	.Share,.Follow,.contactus{
		font-size:130%;
	}
	
	footer div{
		font-size:130%;
	}
	
	.seventhdiv img{
		width:40%;
	}
}

@media screen and (min-width:1200px){
	.column{
	display:inline-block;
	width:30%;
	margin-left:3%;
	}
	
	.column iframe{
		width:300px;
		height:280px;
	}
	
	
	.column img{
		width:50%;
	}
	
	nav{
	color:#06425C;
	background-color:#2554c7;
	padding-left:2%;
	padding-bottom:4%;
	font-size:130%;
	height:13vh;
	}
	
	nav h1{
		font-size:190%;
		text-align:center;
	}
	
	.contactus{
		text-align:center;
		margin:0.5%;
		
	}

	.leader{
		font-size:130%;
	}

	footer div{
		height:9vh;
		font-size:150%;
		display:block;
	}
	
	.bio{
		font-size:110%;
	}
	
	
	p{
		font-size:140%;
	}
	
	.firstdiv a{
		font-size:120%;
	}
	
	.firstdiv h1{
		font-size:200%;
	}
	
	.one{
		padding:2%;
		font-size:130%;
	}
	
	div h2,h2{
		font-size:170%;
	}
	
	div h1{
		font-size:190%;
	}
	
	.lastdiv p{
		font-size:130%;
	}
	
	.Share,.Follow,.contactus{
		font-size:150%;
	}
}

